<!DOCTYPE html>
<html ng-app="MypageInfo">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="PTEGRE.js"></script>

</head>
<body ng-controller="MypageController" style="background-color:darkseagreen">

    <div class="container">
        <div class="w3-panel w3-card-4" style="background-color:white">
            <div class="">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form role="form" method="POST">
                            <h3 style="text-align:center;">Register Your Details</h3>


                            <h5>Student Details</h5>

                            <div class="row">
                                <div class="form-group form-group-sm col-md-6">

                                    <input type="text" class="form-control" name="FName" id="FName" placeholder="First Name" ng-model="S.Name">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="text" class="form-control" name="LName" id="LName" placeholder="First Name" ng-model="S.LName">
                                </div>
                            </div>





                            <div class="row">
                                <div class="form-group col-md-0">


                                </div>
                                <div class="form-group col-md-12">

                                    <input type="email" class="form-control" name="Email" id="Email" placeholder="Email" ng-model="S.Email">
                                </div>
                            </div>



                            <div class="row">
                                <div class="form-group col-md-6">

                                    <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" ng-model="S.Phone">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="text" class="form-control" name="AltPhoneNumber" id="AltPhoneNumber" placeholder="Alt Phone Number" ng-model="S.AltPhone">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">

                                    <input type="date" class="form-control" name="Date1" id="Date1" placeholder="Data Of Birth" ng-model="S.Date1">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="text" class="form-control" name="InTake" id="InTake" placeholder="InTake" ng-model="S.InTake">
                                </div>
                            </div>


                            <h5>Educational Qualification</h5>

                            <div class="table-responsive">
                                <table border="1" class="" style="border-color:lightgray">
                                    <tr>
                                        <th></th>
                                        <th>Degree</th>
                                        <th>Univ/Board</th>
                                        <th>Percentage</th>
                                        <th>Year of Pass</th>
                                    </tr>
                                    <tr>
                                        <td>PGraduate</td>
                                        <td>
                                            <input type="text" name="PGDegree" id="PGDegree" style="border: none" class="form-control" ng-model="S.PGDegree" />
                                        </td>
                                        <td>
                                            <input type="text" name="PGUniv" id="PGUniv" style="border: none" class="form-control" ng-model="S.PGUNIV" />
                                        </td>
                                        <td>
                                            <input type="text" name="PGPercentage" id="PGPercentage" style="border: none" class="form-control" ng-model="S.PGPercentage" />
                                        </td>
                                        <td>
                                            <input type="text" name="PGYear" id="PGYear" style="border: none" class="form-control" ng-model="S.PGYear" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Graduate</td>
                                        <td>
                                            <input type="text" name="Graduate" id="Graduate" style="border: none" class="form-control" ng-model="S.GDegree" />
                                        </td>
                                        <td>
                                            <input type="text" name="GUniv" id="GUniv" style="border: none" class="form-control" ng-model="S.GUNIV" />
                                        </td>
                                        <td>
                                            <input type="text" name="GPercentage" id="GPercentage" style="border: none" class="form-control" ng-model="S.GPercentage" />
                                        </td>
                                        <td>
                                            <input type="text" name="GYear" id="GYear" style="border: none" class="form-control" ng-model="S.GYear" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Inter/Dip</td>
                                        <td>
                                            <input type="text" name="Inter/Dip" id="Inter/Dip" style="border: none" class="form-control" ng-model="S.InterDegree" />
                                        </td>
                                        <td>
                                            <input type="text" name="IUniv" id="IUniv" style="border: none" class="form-control" ng-model="S.InterUNIV" />
                                        </td>
                                        <td>
                                            <input type="text" name="IPercentage" id="IPercentage" style="border: none" class="form-control" ng-model="S.InterPercentage" />
                                        </td>
                                        <td>
                                            <input type="text" name="IYear" if="IYear" style="border: none" class="form-control" ng-model="S.InterYear" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>SSC</td>
                                        <td>
                                            <input type="text" name="SSC" id="SSC" style="border: none" class="form-control" ng-model="S.SSCDegree" />
                                        </td>
                                        <td>
                                            <input type="text" name="SSCUniv" id="SSCUniv" style="border: none" class="form-control" ng-model="S.SSCUNIV" />
                                        </td>
                                        <td>
                                            <input type="text" name="SSCPercetage" id="SSCPercetage" style="border: none" class="form-control" ng-model="S.SSCPercentage" />
                                        </td>
                                        <td>
                                            <input type="text" name="SSCYear" id="SSCYear" style="border: none" class="form-control" ng-model="S.SSCYear" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="pteielts" id="pteielts" placeholder="IELTS/PTE/TOEFL" ng-model="S.IELTSPTEScore">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="text" class="form-control" name="gregmat" id="gregmat" placeholder="GRE/GMAT/SAT" ng-model="S.GREGMAT">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Country Of Choice</label>
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="checkbox" ng-checked="CountryChoice=='USA'" ng-true-value="'USA'" ng-model="S.CountryChoice">USA
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="checkbox" ng-checked="CountryChoice=='UK'" ng-true-value="'UK'" ng-model="S.CountryChoice">UK
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="checkbox" ng-checked="CountryChoice=='CANADA'" ng-true-value="'CANADA'" ng-model="S.CountryChoice">CANADA
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="checkbox" ng-checked="CountryChoice=='AUSTRALIA'" ng-true-value="'AUSTRALIA'" ng-model="S.CountryChoice">AUSTRALIA
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>I heard about abacus</label>
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="checkbox" name="NewsPaper" id="NewsPaper" class="radio" ng-checked="HeardAbout=='NewsPaper'" ng-true-value="'NewsPaper'" ng-model="S.HeardAbout">NewsPaper
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="checkbox" name="WebSite" id="WebSite" class="radio" ng-checked="HeardAbout=='WebSite'" ng-true-value="'WebSite'" ng-model="S.HeardAbout">WebSite
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="checkbox" name="SocialMedia" id="SocialMedia" class="radio" ng-checked="HeardAbout=='Social Media'" ng-true-value="'Social Media'" ng-model="S.HeardAbout">Social Media
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="checkbox" name="Friends" id="Friends" placeholder="Friends" ng-checked="HeardAbout=='Friends'" ng-true-value="'Friends'" ng-model="S.HeardAbout">Friends
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>IELTS/PTE/TOEFL/GRE</label>
                                    <input type="file" multiple="multiple" ngf-select="UploadFiles($files)" onchange="angular.element(this).scope().SelectFile(event)" ng-model="S.IELTSPTEImage" />
                                </div>
                                <!--<div class="form-group col-md-4">
                                    <label>Graduate/PG</label>
                                    <input type="file" class="form-control" value="Graduate/PG" multiple="multiple" ngf-select="UploadFiles1($files)" onchange="angular.element(this).scope().SelectFile(event)" ng-model="S.PGorGraduateImage" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>SSC/INTER</label>
                                    <input type="file" class="form-control" value="SSC/INTER" multiple="multiple" ngf-select="UploadFiles2($files)" onchange="angular.element(this).scope().SelectFile(event)" ng-model="S.SSCINTERImage" />

                                </div>-->
                            </div>


                            <div class="row">
                                <div class="form-group col-md-4">

                                </div>
                                <div class="form-group col-md-4">

                                </div>
                                <div class="form-group col-md-4">

                                    <input type="text" name="sign" id="sign" style="border: none" class="form-control" ng-model="S.singofStudent" />
                                    <label>Signature Of The Student</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">

                                </div>
                                <div class="form-group col-md-4">
                                    <button class="btn btn-primary" ng-click="Insert(S)">Submit</button>
                                </div>
                                <div class="form-group col-md-4">


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
